<!DOCTYPE html>
<html data-theme="dark">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pico.min.css') }}">
    <title>{% block title %}{% endblock %} RaceParty </title>
    {% endblock %}
</head>
<body>
<div id="content">
    <main class="container-fluid">
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>

        <ul>
            <li><strong>RaceParty</strong></li>
        </ul>
    </nav>
    </main>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</div>
</body>
</html>