{% extends "base.html" %}

{% block content %}
<h1>Welcome to RaceParty!</h1>

<article>
    <table role="grid">
        <thead>
        <tr>
            <td>Name</td>
            <td>Players</td>
        </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments %}
        <tr>
            <td><a href="/tournament/{{ tournament["id"] }}"><strong>{{tournament["name"]}}</strong></a></td>
            <td>
                 {{ tournament["players"] }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <form action="/new">
        <input type="submit" value="New"/>
    </form>
</article>
{% endblock %}