{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<h1>Tournament "{{ name }}"</h1>
<h2>Ranking</h2>

<table role="grid">
    <th>
        <td>Player</td>
        <td>Name</td>
        <td>Points</td>
    </th>
    {% for player in ranking %}
    <tr>
        <td></td>
        <td>{{ player.place}}</td>
        <td>{{ player.name}}</td>
        <td>{{ player.points}}</td>
    </tr>
    {% endfor %}
</table>

<h2>Next Cup</h2>
<form method="post" action="/submit_cup">
    {% for player in next_cup_form.players %}
        {{ render_field(player) }}
    {% endfor %}
    <input type="submit" value="Submit"/>
</form>

<h2>Cups</h2>
<table role="grid">
    {% for cup in cups %}
    <tr>
        {% for player in cup.players %}
        <td>
            {{ player.name }}
            {% if player.points is not none %}
            ({{ player.points }})
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}